@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #862742;

}
.text-main{
  color: var(--primary);
}
.bg-main{
  background-color: var(--primary);
}



body {
  background: var(--background);

  font-family: Arial, Helvetica, sans-serif;
}
