
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #862742;

}
.text-main{
  color: var(--primary);
}
.bg-main{
  background-color: var(--primary);
}

html,body{
  overflow-x: hidden !important;
  scroll-behavior: smooth !important;
}

body {
  background: var(--background);
  font-family: "Rubik", sans-serif !important;
}

[dir="rtl"] body {
  font-family: "Lora", serif !important;
}